.navWrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 16px;
  list-style: none;
  height: 20px;
}

.activeTab {
  font-weight: bold;
  color: var(--highlight-color);
}
