:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --foreground: #0f1115;
  --highlight-color: #fc9800;
  --text-primary: #e6e8eb;
  --text-secondary: #a1a6af;
  --text-muted: #6b7280;
  --purple-text: #663399;
  --georgia-font: Georgia, Times, "Times New Roman", serif;
  --knowledge-regular-font: knowledge-regular, Arial, sans-serif;
  --roboto-font: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
    --background: #0f1115;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--background);
  max-width: 768px;
  margin: auto;
  font-family: var(--roboto-font);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.imgDark {
  display: none;
}

.system-ui-font {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 768px;
  background: var(--background);
  height: 60px;
  padding: 10px 12px;
  border-bottom: 0.5px solid var(--text-muted);
  z-index: 1;
}

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 768px;
  background: var(--background);
  height: 40px;
  margin-top: 60px;
  padding: 10px 12px;
  border-bottom: 0.5px solid var(--text-muted);
  z-index: 1;
}

.mainContent {
  margin-top: 100px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}
